* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*deixa a pagina zerada*/
}

body {
    background-image: url("img/background.png");
    /*imagem de fundo*/
    background-size: cover;
    /*deixa a letra do menu maior*/
    background-position: center;
    /*posiciona no meio*/
    background-attachment: fixed;
    color: white;
    /*cor*/
}

/* CAMADA ESCURA SOBRE A IMAGEM */
body::before {
    /*cria uma camada invisivel em cima do body, nesse caso, usei pra deixar a imagem de fundo com aspecto escuro*/
    content: "";
    /* comando obrigatorio, sem ele n funciona*/
    position: fixed;
    /*Fixa a camada na pagina, para que ela não role com o mouse*/
    width: 100%;
    /*faz a camada ocupar 100% da tela em altura*/
    height: 100%;
    /*faz a camada ocupar 100% da tela em largura*/
    background: rgba(0, 0, 0, 0.7);
    /*r/red = 0 -- g/green = 0 -- b/blue = 0 -- a/alpha(transparencia) = 0.6 -- deixa tudo preto ai só ajusta a transparencia*/
    z-index: -1;
    /*temos 3 camadas na pagina: texto, o efeito escuro e imagem back, o -1 faz com que ela fique atras do texto para não tampar, porem na frente da imagem */
}

/* HEADER */
header {

    display: flex;
    /* faz com que os item fiquem lado a lado e não um em baixo do outro*/
    justify-content: space-between;
    /* faz com que os item fiquem separados, deixa um espaço no meio */
    align-items: center;
    /* isso deixa todos os item do header no meio, para ficarem todos na maesma linha */
    background: rgba(10, 15, 30, 0.7);
    backdrop-filter: blur(8px);
    /* cor do HEADER */
    padding: 30px 40px;
    /* isso impede que os textos fiquem colados na bora da pagina, padding é espacamento \\ 15px espaço cima e baixo, 40 px espaço laterais*/
    height: 150px;

}



/* LOGO */
.logo img {
    width: 270px;
    /*altura da imagem*/
}

/* MENU */
nav a {
    color: white;
    /*cor da letra*/
    text-decoration: none;
    /*Faz com que a faixa de baixo da palavra suma (link)*/
    margin-left: 30px;
    /*margem da esquerda, empurra o texto para a direita*/
    transition: 0.5s;
    /*o tempo que demora para as letras ficarem vermelhas (para HOVER)*/
    font-size: 18px;
    /*deixa a letra do menu maior*/

}

nav a:hover {
    color: #3fa9ff;
    /* hover é o efeito que causa quando passamos o mouse em cima de algo, ele esta ligado com o transition*/
}

/* BANNER do index */
.banner {
    height: 80vh;
    /* outra unidade de medida o vh quer dizer, ocupe 80% da tela*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    /* espaçamento da esquerda */
    align-items: flex-start;

}

.banner h1 {
    /* vai editar todos os h1 que estiverem no banner */

    font-size: 50px;
    color: #3fa9ff;
}

.banner p {
    /* vai editar todos os P que estiverem no banner */
    font-size: 20px;
    margin: 15px 0;
    /* espaço em cima e baixo , mas n na lateral */
}

.botao {
    display: inline-block;
    /* geralmente, limks (tag <a>), é dificil colocar espaçamento e outras coisas, então isso permite q a gente edite */
    padding: 10px 20px;
    /* espaçamento cima\embaixo e lados , faz com que o botao n fique colado nas bordas*/
    background: #3fa9ff;
    /* cor do fund do botao*/
    color: white;
    /* cor do texto*/
    text-decoration: none;
    /* remove a listra de link*/
    border-radius: 5px;
    /* arredonda as bordas do botao.*/
    transition: 0.6s;
    /* para usarmos no hover*/
}

.botao:hover {
    background: #3fa9ff;
    /* cor da transition*/
}


.conteudo {
    padding: 60px;
    /* caqui como definimos so um valor, ele vale pra td, cima, baixo, lados*/
    text-align: center;
    /* centraliza o texto, igual word*/

}

/* CARDS Dos PLANOS */
.sobre {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 80px 10%;
}

.titulosobre {
    text-align: center;
    padding-top: 20px;
}

.mvv {
    background: rgba(10, 15, 30, 0.6);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    color: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.mvv:hover {
    transform: translateY(-8px);
}

.mvv h2 {
    margin-bottom: 15px;
    color: #3fa9ff;
}

.planos {

    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
}

.cards h1 {
    text-align: center;
}

.card img {
    width: 120px;


}

.card {
    background: rgba(10, 15, 30, 0.6);
    /* cor e transparencia dos cards*/
    padding: 20px;
    /* espaço do texto e da borda do card*/
    margin: 20px auto;
    /* espaço cima e baixo do card, já o auto são as laterais, mas ja definimos no whidt*/
    width: 300px;
    /* largura do card*/
    border-radius: 10px;
    /* deixa o card com borda arredondada*/
    transition: 0.3s;
    /* para o hover*/
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);

}

.card:hover {
    transform: scale(1.05);
    /* scale quer dizer "quando eu passar o mouse por cima, aumente ou diminua.."*/
}

.card h2 {
    color: #3fa9ff;
    /* cor do h2 dentro do card*/
}

.card button {
    margin-top: 10px;
    /* cria espaço em cima do botao para o texto*/
    padding: 8px 15px;
    /* espaço em cima e dos lados*/
    background: #3fa9ff;
    /* cor de fundo*/
    border: none;
    /*remove a borda feita pelo navegador*/
    color: white;
    /* cor do texto*/
    cursor: pointer;
    /* faz com que quando eu passar o mouse, aparece uma maozinha, o que deixa a entender que é clicavel*/
    border-radius: 5px;
    /* borda do card*/

}

.card button:hover {
    background: #3fa9ff;
}

/* FORMULÁRIO */
form {
    display: flex;
    flex-direction: column;
    align-items: center;



}

form input,
form textarea {
    width: 300px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

form button {
    padding: 10px 20px;
    background: #3fa9ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #3fa9ff;
}

/* FOOTER rodape */
footer {
    text-align: center;
    padding: 20px;
    background: black;
    margin-top: 40px;
}

p,
a,
h1,
h2,
h3 {
    /* todas as fontes */

    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
}

.cadastro {
    text-decoration: none;
    color: #3fa9ff;
    transition: 0.6s;

}

.cadastro:hover {
    color: #3fa9ff;
}

input {
    transition: 0.6s;
}

input:hover {
    transform: scale(1.1);

}



.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.whatsapp img {
    width: 60px;
    height: 60px;
    transition: transform 0.3s;
}

.whatsapp img:hover {
    transform: scale(1.1);
}

select {
    width: 25%;
    padding: 12px;
    margin-bottom: 15px;

    background: #3fa9ff;
    color: rgb(14, 13, 13);

    border: 2px solid#3fa9ff;
    border-radius: 10px;

    font-size: 16px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M1.5 5l6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
    cursor: pointer;
}

select:hover {
    border-color: #3fa9ff;
}

select:focus {
    outline: none;
    border-color: #3fa9ff;
    box-shadow: 0 0 5px #3fa9ff;
}



/* TROCA DE PEÇAS */
.troca-peca {
    background: rgba(10, 15, 30, 0.6);
    /* cor e transparencia dos cards*/
    padding: 60px;
    /* espaço do texto e da borda do card*/
    margin: 20px auto;
    /* espaço cima e baixo do card, já o auto são as laterais, mas ja definimos no whidt*/
    width: 600px;
    /* largura do card*/
    border-radius: 10px;
    /* deixa o card com borda arredondada*/
    transition: 0.3s;
    /* para o hover*/
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    font-family: 'Orbitron', sans-serif;
}

.troca-peca h2 {
    text-align: center;
    margin-bottom: 20px;
}

.troca-peca label {
    display: block;
    margin-top: 15px;
}

.troca-peca input,
.troca-peca select,
.troca-peca textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

.opcoes {
    display: flex;
    gap: 20px;
    /* espaço entre eles */
    justify-content: center;
    /* centraliza */
}

.opcoes label {
    display: flex;
    align-items: center;
    gap: 5px;
    /* espaço entre bolinha e texto */
}