<header>
  <div>
    <img src="/img/LOGO.png" alt="Logo" style="width: 290px; height: auto" />
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap"
      rel="stylesheet"
    />
  </div>

  <nav class="navbar">
    <div class="nav-links">
      <a href="/index.html">Home</a>
      <a href="/navbar/sobre.html">Sobre</a>
      <a href="/navbar/equipe.html">Equipe</a>
      <a href="/navbar/login.html">Login</a>
      <a href="/navbar/contato.html">Contato</a>
    </div>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(10, 15, 30, 0.7);
    backdrop-filter: blur(8px);
    padding: 30px 40px;
    height: 150px;
  }

  nav a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.5s;
    font-size: 18px;
  }
  nav a:hover {
    color: #3fa9ff;
  }
</style>
